var time = function (value) { // 时间分割
    return value.split(' ')[0]
}
var holding = function(enable, end) { // 判断进程
    var time = date(0);
    if (end > time && enable == -1){
        return '即将进行';
    } else if(end > time && enable == 1) {
        return '进行中';
    } else {
        return '已结束';
    }
}
var entry = function(end) { // 判断报名
    var time = date(0);
    if (end < time) {
        return 0;
    }
}
var distance = function(create) { // 时间间隔
    create = create.split(' ')[0]; // 当前时间
    var yesterday = date(1); // 昨天
    var today = date(0); // 今天
    today = today.split(' ')[0];
    if (create == today) { // 判断是否为今天
        return '今天';
    } else if(create == yesterday) { // 判断是否为昨天
        return '昨天';
    } else {
        var handlesWeeks = handlesWeek(create)
        if (handlesWeeks) { // 判断是否为本周
            var week=getDate(create);
            var weekday=["周日","周一","周二","周三","周四","周五","周六"];
            return weekday[week.getDay()];
        } else { // 返回具体时间
            return create;
        }
    }
}
function handle(time) { // 将传秒去除
    time = time.split(' ');
    var temp = time[1].split(':');
    return time[0] + ' ' + temp[0] + ':' + temp[1];
}
function handlesWeek(create) {// 获取当前月的总天数
	var now= getDate()
    var firstdayoffset=(now.getDay()==0?7:now.getDay())-1
    now.setDate(now.getDate()-firstdayoffset-1)
    var firstday=now.toISOString().substring(0,10)
    firstday=getDate(firstday)
    now.setDate(now.getDate()+8)
    var lastday=now.toISOString().substring(0,10)
    lastday=getDate(lastday)
    if(getDate(create)>firstday&&getDate(create)<lastday){
    	return true
    }else{
        return false
    }
}
function date(days) { // 获取当前时间 0今天 1昨天 
    var date =  getDate();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var hour = date.getHours();
    var minute = date.getMinutes();
    var second = date.getSeconds();
    var day = date.getDate()
    if (month<10) month = '0' + month;
    if (day<10) day = '0' + day;
    if (hour<10) hour = '0' + hour;
    if (minute<10) minute = '0' + minute;
    if (second<10) second = '0' + second;
    var time = '';
    if (days == 0) {
        time = year + '-' + month + '-' + day;
        return time;
    } else {
        var dayt = date.getDate() - 1;
        if (dayt<10) day = '0' + dayt;
        time = year + '-' + month + '-' + dayt;
        return time;
    }
}
var division = function(value) { // 以逗号分割
    // value = '五险一金,交通补贴,定期体检';
    var str = value.split(',');
    return str;
}
module.exports.time = time
module.exports.holding = holding
module.exports.entry = entry
module.exports.distance = distance
module.exports.division = division